input {
  beats {
    port => 5044
  }
}

filter {
  if [fields][source] == "portfolio" {
    grok {
      match => { "message" => "%{COMBINEDAPACHELOG}" }
    }
    geoip { source => "client_ip" }  # optional
    useragent { source => "agent" }  # optional
  }
}

output {
  elasticsearch {
    hosts => ["http://es:9200"]
    index => "portfolio-nginx-%{+YYYY.MM.dd}"
  }
  stdout { codec => rubydebug }
}
